<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Đồ án Image Captioning </title>
	
    <link rel="stylesheet" href="./cum.css">
    <link rel="stylesheet" href="../static/cum.css">
    <link rel="stylesheet" href="./static/cum.css">
	
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main style = "background-color: #d4c7c9;">
		<!--div id="adTop" class = "advertisement">
			<p> Top ad spot here </p>
		</div-->
		<div class = "Top_banner">
			<h1> Đồ án Image Captioning <br> 20120070 - Huỳnh Thiết Gia</h1>  
			<h1> 20120360 - Nguyễn Duy Quang</h1>
		</div>
		<div class = "BigAss">
			<div id="ad1" class = "advertisement">
				<h1> Hướng dẫn sử dụng - Demo </h1>
				
				<div class="video-wrap">
					<div class="video-container">
						<iframe src="https://www.youtube.com/embed/PJcTo4SRuVk" 
						title="YouTube video player" frameborder="0" 
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
						</iframe>
					</div>
				</div>
			</div>
			<div class = "content-wrapper">
				<div  id="dropContainer" class = "Part_1">
						 <p class ="RemoveAfterShrink"> Upload one image by dragging it into this box <br>
						or by clicking the button below<br></p>
						 <p class = "ShowAfterShrink">  Drop another image here <br> if you want to update it </p>
					<form id="ImageForm" action="/upload" enctype = "multipart/form-data" target="hiddenFrame">
						<input type="file" name="file" id="InputBox" value="" onclick="this.value=null;" class = "InputBox" accept="image/png, image/gif, image/jpeg"/>
					</form>
				</div>
				<div id = "AdjustmentBox" class = "Part_2">
					<div id = "Review_Image" class ="boxed">
						<h2> Your uploaded image </h2>
						<img id="blah" src="#" alt="Your uploaded image will be here, it's currently empty. If you are seeing this, it's most likely you have not selected the image, try selecting it again." />
						</p> <h1>Looks good?</h1>
						<button type="submit" form="ImageForm" class = "confirmButton" value="Like"> LET'S DO THIS </button>
					</div>
				</div>
				<div id = "confirmBox" class = "Part_3">
					<div class ="boxed">
						<h1> Kết quả trả về
								<br></h1>
						<!--<div class = "TwoDOverlay">
							<img id="overlayImg" style="opacity:0.5; z-index:2;" src="#" alt="Overlayed image" /> 
							<img id="resultImg" src="#" alt="This is the result image, press the green button above.  If you are seeing this, it's most likely you have not selected the image, try selecting it again." /> 
						</div>-->
						<div class = "ResultBox">
							<p id = "CaptioningResult"> Caption result should be here </p> 
						</div>
					</div>
				</div>
				<div id = "reportSection" class = "Part_3 Hidden_">
					<div class ="boxed">
						<h1> Nhập mô tả chính xác cho ảnh:
								<br></h1>
						<div class = "ReportBox">
							<form id="ChinhSuaForm" action="/chinhsua" enctype = "multipart/form-data" target="hiddenFrame">
								<input type="file" name="file" id="ChinhSuaBox" value="" onclick="this.value=null;" style="display:none;" accept="image/png, image/gif, image/jpeg"/>
								<input type="text" name="ChinhSuaText" id="ChinhSuaText" class = "ChinhSuaText" value=""/>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="ad2" class = "advertisement">
				<div class = "LeftHalf">
				<div class ="TopHalf"> <p> DONATE PLZ</p> </div>
				<div class = "BottomHalf"> 
					<a href = "https://paypal.me/zahuynh6969" target="_blank">Paypal</a>
					<a href = "https://steamcommunity.com/tradeoffer/new/?partner=243084914&token=Wd4eyX_8" target="_blank">Steam</a>
					<a href = "https://me.momo.vn/vjIyu2T7TOFMtqsxURsb" target="_blank">Momo</a>
					<a href = "#" onclick ="binanceNigga();return false;" target="_blank">Binance </a>
					<a href = "https://shopee.vn/thietgia3452002" target="_blank"> Shopee store page </a>
				</div> 
				</div>
				<div class = "RightHalf">
					Electricity isn't free, ya know. <br> If this helps you, please donate.
					<br>
					<!--<br> Tôi cũng có link Shopee (ở trên) <br> và nhận in thiết kế của bạn.-->
					<!--<br> Hãy vào và nhắn tin page <br> để được hướng dẫn <br> -->
					<!--br>Even if it's half a dollar, your donation will still be appreciated a lot.-->
				</div>
			</div>
		</div>
		<div id ="TopDonation">
			<div class = "LeftHalf">
				<div class ="TopHalf"> <p> DONATE NOW!!! </p> </div>
				<div class = "BottomHalf"> 
					<a href = "https://paypal.me/zahuynh6969" target="_blank">Paypal</a>
					<a href = "https://steamcommunity.com/tradeoffer/new/?partner=243084914&token=Wd4eyX_8" target="_blank">Steam</a>
					<a href = "https://me.momo.vn/vjIyu2T7TOFMtqsxURsb" target="_blank">Momo</a>
					<a href = "#" onclick ="binanceNigga();return false;" target="_blank">Binance</a>					
				</div> 
			</div>
			<div class = "RightHalf"> I can't place ad on this website lol. 
				<br> This page is pretty much just a demo of the project.
				<br> The source code is available here: <a href="https://github.com/Gia-Huynh/IO-Shield"> github </a>  
				<br> Installing locally will give you better model quality, and will run faster than this old dusty server.
				<br> Go to the github link and give it a try.
				<br> My home network doesn't store any sensitive data, and it also does not have any firewall protection, plz no hackerino.
			</div>
		</div>
		<iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
    </main>
	<!--<script src="logic.js"></script>-->
	<!--<script src="./static/logic.js"></script>-->
	<script src="../static/logic.js"></script>
  </body>
</html>